* {
  box-sizing: border-box;
  margin: 0;
padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100%;
  background: url("transfer4.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

.title {
  font-size: 3.5em;
  margin-bottom: 1rem;
   text-shadow: 4px 4px 0px black;
  mix-blend-mode: screen;
  animation: fadeIn 3.5s linear forwards;
  margin-left: 40rem;
  padding-bottom: 2rem;
  border-color: black;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}
.subtitle {
  font-size: 1.8em;
  margin-bottom: 1rem;
   text-shadow: 3px 3px 0px black;
  mix-blend-mode: screen;
  animation: fadeIn 2.0s linear forwards;
  margin-left: 40rem;
  padding-bottom: 4rem;

}
.dark-overlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.button1
{
  padding: 10px 29px;
  text-align: center;
  text-decoration: none;
  border-radius: 12%;
  display: inline-block;
  font-size: 17px;
  background-size: 100%;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  margin-left: 47rem;
   animation: fadeIn 3.5s linear forwards;
   margin-bottom: 5rem;
}

.button1:hover {
  background-color: #f44336;
  color: white;
}

@media (max-width: 426px){
  .title{
    font-size: 2em;
  }
  .subtitle{
    font-size: 1.5em;
  }
}


/*navigation bar*/

#sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  
 }
 #sidenav li{
  width: 100%;
  height: 50px;
  line-height: 50px;
 }
 #sidenav li a{
  color: white;
  padding: 14px 10px;
  text-decoration: none;

 }
 #sidenav li a:hover:not(.active) {
  background-color: #111;
  }
  #menu{
    height: 50px;
    width: 50px;
    font-size: 40px;
    float: right;
    margin: 10px;
    background: none;
    border: none;
    color: #717171;
    display: none;

  }

.navbar{
    position: sticky;
    top: 0;
    background-color: #333;
    height: 70px;
    line-height: 70px;
    z-index: 3;
}
.logo{
    float: left;
    height: 100%;
   padding-left: 2rem;
   padding-top: 5px;
}
#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 2.5rem;

  }
  
  .navlist {
    height: 100%;
    display: inline-block;
  }
  
  .navlist:last-child {
    border-right: none;
  }
  
  .navlist a {
    
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }
  
  .navlist a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  /* footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  
}

.foot li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}
.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}